/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mheader {
  width: auto;
  height: auto;
  padding: 1rem;
  margin-bottom: 100px;
  font-size: 96px;
  color: #b4befe;
}
